input {
    width: 60%;
    margin-left: 50px;
}

label {
    margin-left: 50px;
}
h4{
    margin-left: 600px;

}

form {
    padding: 20px;
    margin-left: 200px;
    margin-top: 40px;
    width: 40%;
    border-style: inset;
    border-radius: 10px;
    border-color: blueviolet;
    box-shadow: 2px 3px 4px purple;
}

form:hover {
    color: black;
    background-color: darkturquoise;
    transform:scale(1.2);

}

button {
    margin-left: 100px;
}

span {
    width: 60%;
    margin-left: 100px;
}
