marquee{
    text-shadow:2px 3px 3px black;
    color: red;
    font-size: 28px;
}
img{
    height:150px;
    width:150px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
}
.prodimg{
    height:200px;
    width:1000px;
    margin-left:40px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
}

