<!--TWO WAY BINDING-->
          <!--[(ngModel)]-->
          <!--FormsModule in the app.module.ts-->
          <!-- <input type="text" [(ngModel)]="name"><span>Welcome {{name}}</span> -->

<!--IMAGE CAROUSEL-->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://3.bp.blogspot.com/-0KmwLussiFQ/Urglf2WVqWI/AAAAAAAAAXY/9G4MNAST2tw/s1600/laptops.jpeg" class="d-block w-100" alt="CSS">
        <div class="carousel-caption d-none d-md-block">
          <h5>DELL</h5>
          <p>LAPTOPS</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://i.pinimg.com/originals/d2/3d/e1/d23de1ec140496144f4aa2b4a90c3030.jpg" class="d-block w-100" alt="JS">
        <div class="carousel-caption d-none d-md-block">
          <h5>KIDS</h5>
          <p>TOYS</p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="https://fthmb.tqn.com/--g_FXSTs_FEdjuG27FYKhR2-r4=/2000x1500/filters:fill(auto,1)/appliancesalexeydudoladovGettyImages-171589331-57b37c3c5f9b58b5c2cb819c.jpg" class="d-block w-100" alt="JQ">
      <div class="carousel-caption d-none d-md-block">
        <h5>HOME APPLIANCES</h5>
        <p>WASHING MACHINE,REFRIGERATOR,DISH WASHER</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
