img {
    height: 500px;
  }
  .stylebinding1{
    color: red;
    background-color: aqua;
  }
  .red{
    color: red;
  }
  .green{
    color: green;
  }
  .yellow{
    color: yellow;
  }
  .blue{
    color:blue;
  }
  .shadow{
    text-shadow: 2px 2px 2px yellow;
  }
  .size{
    font-size: 24px;
  }
  .card{
    height: 100px;
    border: none ;
  }
  .card_img{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    height: 10px;
    width: 20px;
  }
