img {
    height: 500px;
  }
  
  

  .stylebinding1{
    color: red;
    background-color: aqua;
  }
  .red{
    color: red;
  }
  .green{
    color: green;
  }
  .yellow{
    color: yellow;
  }
  .blue{
    color:blue;
  }
  .shadow{
    text-shadow: 2px 2px 2px yellow;
  }
  .size{
    font-size: 24px;
  }
