<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="https://th.bing.com/th/id/R.7b0a94c15d62b3c1a002bbeacbbc8c5b?rik=fSTTW9O%2b%2fC%2fN0w&riu=http%3a%2f%2fcdn.notonthehighstreet.com%2ffs%2f85%2f9d%2ffd0e-e0e4-4cde-b435-1af7c9954d3e%2foriginal_artificial-ivy-and-garden-rose-flower-girl-basket.jpg&ehk=3%2f5fevRtk9agwfxugIuEANf8YcG%2bjwtcpMThby1O%2bgU%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="BASKET">
        <div class="carousel-caption d-none d-md-block">
          <h4>FLOWERS</h4>
          <p>Basket</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="https://asia-se1-img-listing.eccang.com/0/amQxT2orOS9rMjdSRWlXaXRQU0FXdz09/201910/12658970lkAjc1qP.jpg" class="d-block w-100" alt="KRAFT">
        <div class="carousel-caption d-none d-md-block">
          <h4>KRAFT</h4>
          <p>Gift Box</p>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://th.bing.com/th/id/R.9641f34fef5f3740ebe91cac409ee3ec?rik=t9C894zGt3yGQw&riu=http%3a%2f%2fs7d1.scene7.com%2fis%2fimage%2fterrain%2f33946765_007_a%3f%24zoom2%24&ehk=%2fP0gbCAHt%2bcPEWOjjR4pGdvM4UzvACz3cAkYK8ORZOw%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="PLANT HOLDER">
      <div class="carousel-caption d-none d-md-block">
        <h5>PLANT</h5>
        <p>Holders</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<!--*ngFor to retrieve the contents from products-->
<!--*ngIf in the <ul> for toggle effects to hide/show contents-->
<!--<ul *ngIf="isVisible">
  <li *ngFor="let product of products" style="color:blueviolet">
    {{product.productname}}
  </li>
</ul>-->
<!--event to hide product dectails-->
<!--<button (click)="hide_products()">Hide the product details
</button>-->
<!--*ngSwitch-->
<!--<ul [ngSwitch]="product">
  <li *ngSwitchCase="'Dress'">Dress</li>
  <li *ngSwitchCase="'Headphone'">Headphone</li>
  <li *ngSwitchCase="'Laptop'">Laptop</li>
  <li *ngSwitchCase="'Footwear'">Footwear</li>
  <li *ngSwitchDefault>Not Found</li>
</ul>-->

<!--style binding-->
<!--<p [style.color]="'red'" [style.font-size.px]="'24'" [style.background-color]="'blue'">Red color</p>
<p [style.background-color]="'aqua'">Red color</p>
<p [style.font-size.px]="'24'">Red color</p>
<p class="stylebonding1">class Binding</p>
<hr>-->
<!--ternary operator for style binding-->
<!--<button [style.color]="errorcolor=='red'?'red':'blue'">STYLE BINDING USING TERNARY</button>
<hr>
<ul *ngFor="let pdetails of ProductDetails" [ngSwitch]="pdetails.color">
  <li *ngSwitchCase="'green'" class="green">
    {{pdetails.pid}} - {{pdetails.pname}} - {{pdetails.status}}
  </li>
  <li *ngSwitchCase="'red'" class="red">
    {{pdetails.pid}} - {{pdetails.pname}} - {{pdetails.status}}
  </li>
  <li *ngSwitchDefault class="yellow">
    {{pdetails.pid}} - {{pdetails.pname}} - {{pdetails.status}}
  </li>
</ul>
<hr>-->
<!--bootstrap-->
<!--<ul *ngFor="let pdetails of ProductDetails" [ngSwitch]="pdetails.color">
  <li *ngSwitchCase="'Active'" class="text-success">
    {{pdetails.pid}} - {{pdetails.pname}} - {{pdetails.status}}
  </li>
  <li *ngSwitchCase="'Inactive'" class="text-danger">
    {{pdetails.pid}} - {{pdetails.pname}} - {{pdetails.status}}
  </li>
  <li *ngSwitchDefault class="text-waring">
    {{pdetails.pid}} - {{pdetails.pname}} - {{pdetails.status}}
  </li>
</ul>-->
<!--<p [style.color]="getColor()">Hello</p>-->
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.yBWAwpnIxZIJuODdRFYNkwHaHa?pid=ImgDet&w=800&h=800&rs=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DRESS</h5>
     <!-- <p class="card-text"></p>-->
     <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
      Add to cart
    </button>
    <app-counter></app-counter>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.mwrsu5uHiC6NdxqjcZBEPgHaHa?pid=ImgDet&rs=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">TOYS</h5>
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Add to cart
      </button>
      <app-counter></app-counter>
      <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://image1.appliancesconnection.com/product/1920x1080/4472339a076625bce37e7d5f4c8741db_336280.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">REFRIGERATOR</h5>
      <!--<p class="card-text"></p>-->
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Add to cart
      </button>
      <app-counter></app-counter>
    </div>

      


    
    

